* {
	font-family: helvetica, arial, sans-serif;
	background-color: green;
}

.total {
	color: red;
	font-size: 20px
}

ul {
	color: yellow;
}
a {
	color: black;
}

img {
	width: 100px;
	height: 100px;
}
